<main class="h-screen max-h-screen w-screen">
	<div class="flex h-full w-full flex-col items-center justify-center gap-1">
		<h1>Hello, {{ title }}</h1>
		<p>Congratulations! Your app is running. 🎉</p>
		<p>building script is working ma duuuude🎉</p>
		<app-button />
		<ul>
			<li *ngFor="let person of list">{{ person.name }}</li>
		</ul>
		<a [routerLink]="['']">home</a>
		<a [routerLink]="['/persons']">persons</a>
		<section>
			<router-outlet></router-outlet>
		</section>
	</div>
</main>

<!-- <router-outlet></router-outlet> -->
